{% extends "base.html" %}

{% block content %}
<h2>Users</h2>


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      
        {% for u in all_users %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.is_active }}</td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>
{% endblock content %}